a {
    font-family: "Trirong", sans-serif;
}

.italics {
    font-style: italic;
}

.carousel-item img {
    height: 300px;
}

.checked {
    color: yellow
}

h2:before {
    position: absolute;
    content: "";
    height: 1em;
    border-left: 5px solid #fa320a;
    margin: 3px 0 0 -10px;
}

.ribbon {
    background: darkorchid;
    position: relative;
    width: 100%;
}

.cardimg {
    height: 300px;
    width: auto;
}